@import "tailwindcss";

.bg-desktop{
    background: url('./images/wood.jpg')  no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
    aspect-ratio: 16 / 9;
}
 @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
.fade-in {
    animation: fadeIn 0.5s ease-out;
}
.animation-popup{
    animation: popup 1s ease;
    
}
@keyframes popup {
    from { opacity: 0.2;}
    to { opacity: 1;}
}
.rotating{
    cursor: pointer;
    rotate: 0deg;
    transition: all 0.4s ease;
}
.rotating:hover{
    rotate: 90deg;
}
@keyframes shown{
    from{
        opacity : 0.2;
        scale: 0.8; 
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.shown {
    animation: shown 0.3s ease-out;
}
button{
    cursor: pointer;
}
@keyframes notification{
    from{
        left: -300px;
    }
    to{
        left: 0;
    }
}
.notification{
    animation: notification 0.3s ease-out;
}