@import "tailwindcss";

.bg-desktop{
    background: url('./images/wood.jpg')  no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
    aspect-ratio: 16 / 9;
}
 @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
.fade-in {
    animation: fadeIn 0.5s ease-out;
}
.animation-popup{
    animation: popup 1s ease-out;
    
}
@keyframes popup {
    from { opacity: 0.2;}
    to { opacity: 1;}
}